<div>
    <a href="/product">  <p class = "publicaciones"><b>PUBLICACIONES</b></p></a>
</div>

<% for (let i = 0; i < product.length; i++) { %>
    <article>

            <a href="./product/<%- product[i].id %>"> <img src= "<%- product[i].imagen %>" alt = "Parlante" width = "340px" ></a>

            <section>
                <p class="articulo"><%- product[i].nombre_producto %></p> 
                <p class="ubicacion"><i class="fas fa-map-marked-alt"></i><%- product[i].ubicacion %></i></p>
                <p class="valor"><%- product[i].valor %></i></p>
               
                <form class="" action="./product/<%- product[i].id %>?_method=DELETE" method="POST" class="create-form">
                    <label for="">¿Eliminar publicacion?</label>
                    <br>
                    <br>
                        <button type="submit" class="boton-formulario">Borrar</button>
                    <br>
                    </form>

                    <form class="" action="/product/<%- product[i].id %>/productEdit" method="get" class="create-form">
                        <label for="">¿Editar publicacion?</label>
                        <br>
                        <br>
                        <button type="submit" class="boton-formulario">Editar</button>
                  
                        <br>
                        </form>
               
            </section>
    
    </article>
<% } %>