<!DOCTYPE html>
<html lang="en" class = "html-login">
    <%- include ('./partials/head')%> 
<body>
    <header>
        <a class="logo" href="/"><p class="titulo">BARTER ⇄</p></a><br>
    </header>   

    <a href="/"><i class="fas fa-arrow-left"> </i> </a>
    <p class = "bienvenido" ><b>¡Bienvenido!</b></p>
    

    <div class="container my-5">
		<div class="row justify-content-center">
			<div class="col-md-10">
				<h2>Formulario de registro</h2>
	
				<form method="POST" action="/login" enctype="application/json">
					<div class="row">					
						<div class="col-md-6 my-1">
							<div class="form-group">
								<label><b>Correo electrónico:</b></label>
								<input 
									type="text" 
									name="email" 
									class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
									value="<%= locals.oldData ? oldData.email : null %>"
								>
								<% if (locals.errors && errors.email) { %>
									<div class="text-danger">
										<%= errors.email.msg %>
									</div>
								<% } %>
							</div>
						</div>
						<div class="col-md-6 my-1">
							<div class="form-group">
								<label><b>Password:</b></label>
								<input 
									type="password" 
									name="password" 
									class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
								>
								<% if (locals.errors && errors.password) { %>
									<div class="text-danger">
										<%= errors.password.msg %>
									</div>
								<% } %>
							</div>
						</div>	
						<div>
							<input type="checkbox" class="" name="remember_user">Recordar mi usuario
						</div>	
						
						<div class="col-12 my-3">
							<button type="submit" class="btn btn-primary">Ingresar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>