<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head')%>

    <body>
        <%- include ('./partials/header')%>

        <div class="carousel">     
            <div id="imagen"></div>    
        </div>
    
       <!-- <img class = "banner" src = "/images/banner_3.png" alt = "Home Banner" width="340px">

            <!--<p class="frase"> "El lugar donde aquello que no usas se puede convertir en aquello que deseas" </p>-->

            <main>

                <div>
                    <p class="tituloArticulo"><b>
                            <%- product.nombre_producto %>
                        </b></p>

                    </ul>
                </div>

                <article>

                    <div class="descripcionArticulo">
                        <a href="./productDetailbicicleta">Creá tu cuenta </a>
                        <img src="<%- product.imagen %>" alt="producto" width="340px">
                        <P class="textoDescripcion">
                            <%- product.descripcion %>.
                        </P>
                    </div>

                    <section>
                        <img src="<%- product.imagen1 %>" alt="producto" width="140px">
                        <img src="<%- product.imagen2 %>" alt="producto" width="140px">
                        <img src="<%- product.imagen3 %>" alt="producto" width="140px">
                        <img src="<%- product.imagen4 %>" alt="producto" width="140px">
                    </section>
                    <br>
                    <br>
                    <form class="formato-formulario" action="<%- product.id %>/?_method=PUT" method="POST" class="create-form">   
                        <label for="">¿Eliminar de Carrito?</label>
                        <br>
                        <br>
                        <button type="submit" class="boton-formulario">Eliminar</button>

                        <br>
                    </form>

                </article>



            </main>

            <%- include ('./partials/footer')%>

    </body>

</html>