<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head')%> 
<body>
    <%- include ('./partials/header')%> 
    
    <div class="carousel">     
        <div id="imagen"></div>    
    </div>

   <!-- <img class = "banner" src = "/images/banner_3.png" alt = "Home Banner" width="340px">
    
    <!--<p class="frase"> "El lugar donde aquello que no usas se puede convertir en aquello que deseas" </p>-->
<br>
<br>
    <main>

        <div class = "userDetail"> 
         <img class = "" src= "<%- user.imagen %>" alt = "imagen" width = "140px">
        </div>
        <div > 
           
            <p class = "tituloArticulo"><b>Nombre: <%- user.first_name %> <%- user.last_name %></b></p>
            <p class = "tituloArticulo"><b>Ubicacion: <%- user.ubicacion %></b></p>
            <p class = "tituloArticulo"><b>Email: <%- user.email %></b></p>
          
            
         
          
            </ul>
        </div>

        <form class="" action="./userDetail/<%- user.id %>?_method=DELETE" method="POST" class="create-form">
            <label for="">¿Eliminar Usuario?</label>
            <br>
            <br>
                <button type="submit" class="boton-formulario">Borrar</button>
            <br>
        </form>

       

    </main>

    <%- include ('./partials/footer')%> 

</body>
</html>